@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

.sa-thumbnail-header {
  padding: 3rem 1rem;
  text-align: center;
}

.sa-thumbnail-header h1 {
  font-size: 3rem;
  font-family: 'Bacasime Antique', serif;
}

.sa-thumbnails-contents {
  margin-bottom: 3rem;
}

.sa-thumbnails-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sa-thumbnail {
  width: 200px;
  height: auto;
  background-color: rgba(29, 27, 27, 0.171);
}

.sa-thumbnail h1 {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem;
}

.sa-thumbnail img {
  width: 100%;
}

.thumbnail-btn {
  text-align: center;
}

.thumbnail-btn button {
  font-size: 14px;
  text-transform: uppercase;
  padding: .5rem 1rem;
  border-radius: 5px;
}






@media (max-width: 940px) {
  .sa-thumbnail-header h1 {
    font-size: 2rem;
    font-family: 'Bacasime Antique', serif;
  }

}

