@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.mat {
    width: 100%;
    height: 72vh;
    background-color: rgba(0, 0, 0, 0.479);
    position: relative;
  }
  
  .mat:before {
    content: '';
    position: absolute;
    background: url('../../assets/mat-bg.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.mat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mat .mat-content {
    width: 50%;
    position: absolute;
    bottom: 20%;
    right: 5%;
    padding: 1rem;
}

.mat h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-align: right;
}

.mat h3 {
    color:white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: right;

}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.mat .mat-content {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10%;
    right: 0;
    padding: 1rem;
    }

.mat h1 {
    font-size: 2rem;
    text-align: center;
}

.mat h3 {
    font-size: 1rem;
    text-align: center;
}
}