@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

.section2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(124, 76, 5, 0.055);
  }
  
  .section2:before {
    content: '';
    position: absolute;
    background: url('../../assets/detox-bg-min.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    
  }

.section2 {
    width: 100%;
    height: auto;
    position: relative;
}

.section2-content {
    text-align: center;
    padding: 3rem 0 0  0;
}

.section2-content h1 {
    font-size: 3rem;
    padding: 0 1rem;
    color: var(--primary-text);
    font-family: 'Bacasime Antique', serif;

}

.section2-content h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.section2-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
}

.section2-flex-left {
    width: 40%;
    padding: 1rem;
    margin: auto;
}

.section2-flex-left h1 {
    padding: 1rem 0;
}

.section2-flex-left p {
    text-align: justify;
    font-size: 14px;
}

.section2-flex-right {
    width: 550px;
    padding: 1rem;
    margin: auto;
}

.section2-flex-right img {
    width: 100%;
    border-radius: 10px;
}


/* @media screen and (max-width:1200px) {
    .section2-flex-left {
        width: 100%;
    }
} */

@media screen and (max-width:940px) {
    .section2-content h1 {
            font-size: 2rem;
        }

        .section2-flex-left {
            width: 100%;
        }

        .section2-flex-right {
            width: 80%;
        }
        
        .section2-flex-left h1 {
            text-align: center;
        }
        
        .section2-flex-left p {
            text-align: center;
        }

        .section2-flex-left .section1-btn {
            text-align: center;
        }
        
    }

    @media screen and (max-width:700px) {
        .section2-flex-right {
            width: 100%;
        }
        
    }