@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



.method-section {
    width: 100%;
    height: auto;
    position: relative;
}
  
  .method-section:before {
    content: '';
    position: absolute;
    background: url('../../assets/section-bg.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.05;
  }

  .method-section-header {
    text-align: left;
    padding: 1rem;
  }
  
  .method-section-header h1 {
    padding: 1rem 0;
  }
  
  .method-section-header p {
    text-align: justify;
  }
  
  
  .method-section-left h5 {
    padding: 1rem 0;
    color: rgb(201, 140, 8);
  }
  
  .method-section-right2 h5 {
    padding: 1rem 0;
    color: rgb(201, 140, 8);
  }



  .method-section-content {
    padding: 3rem 0;
  }

.method-section-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}


.method-section-right {
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.method-section-right img {
    width: 100%;
    border-radius: 10px;
}

.method-section-left {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.method-section-left p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    padding: .5rem 0;
}

.method-section-left h1 {
    font-family: 'Poppins', sans-serif;
    padding: .5rem 0;
}

/* FLEX 2 */


.method-section-flex2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}


.method-section-left2 {
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.method-section-left2 img {
    width: 100%;
    border-radius: 10px;
}

.method-section-right2 {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.method-section-left2 p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    padding: .5rem 0;
}

.method-section-left2 h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: .5rem 0;
}





@media  screen and (max-width:940px) {

    .method-section-flex {
        flex-wrap: wrap;
    }
    
    
    .method-section-left {
        width: 100%;
    }

    .method-section-right {
        width: 90%;
    }


    .method-section-flex2 {
        flex-wrap: wrap-reverse;
    }
    
    
    .method-section-left2 {
        width: 90%;
    }

    .method-section-right2 {
        width: 100%;
    }


}