
.wrap {
    width: 100vw;
    height: 60vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(15, 15, 15, 0.555);  
}
  
  .wrap:before {
    content: '';
    position: absolute;
    background: url('../../assets/section3Image.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }


.wrap-container {
    top: 15%;
    position: relative;
    align-items: center;
    text-align: center;
    width: 100%;
}

  .wrap .wrap-content {
    top: 20%;
  }

.wrap h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}

.wrap p {
    text-align: center;
    color: white;
    padding: 0 1rem;
}

.wrap-btn {
    padding: 2rem;
}

.wrap-btn button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: .5rem;
}


.wrap-btn button:hover {
    background-color: var(--primary-color);
    border: none;
    border-radius: .5rem;
}

/* MEDIA QUERIES */

@media screen and (max-width:1250px) {
    .wrap h1 {
        font-size: 3rem;
    }
    }