@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');


.inpatient-programs-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
}

.inpatient-programs-header {
    text-align: center;
}

.inpatient-programs-header h1 {
    font-family: 'Bacasime Antique', serif;
    font-size: 2.5rem;
}


.inpatient-programs-right {
    width: 600px;
    margin: auto;
    padding: 1rem;
}

.inpatient-programs-right img {
    width: 100%;
    border-radius: 1rem;
}

.inpatient-programs-left {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.inpatient-programs-left p {
    font-size: 14px;
    text-align: left;
} 

.inpatient-programs-left span {
    font-size: 20px;
    font-family: 'Bacasime Antique', serif;
    color: var(--primary-text);

} 

@media screen and (max-width:940px) {
    .inpatient-programs-content {
        flex-wrap: wrap-reverse;
    }

    .inpatient-programs-left {
        width: 90%;
    }
}